# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# iOS / Android のローカル生成物
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
android/.gradle/
android/local.properties
android/key.properties
